.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 12px var(--global-padding);
    font-size: var(--tiny-text);
    color: var(--color-brand);
    background-color: var(--color-brand--tint);
    border: 1px solid var(--color-brand);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: var(--tiny-text-letter-spacing);
    overflow: hidden;
    transition: all .2s ease-out;

    &:hover {
        color: var(--color-lightest);
        background-color: transparent;

        &:after {
            transform: translateX(0);
        }
    }

    &:after {
        content:'';
        position: absolute;
        z-index:-1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--color-brand);
        transform: translateX(-100%);

        transition: transform .15s ease-out;
    }
}

.btn--alt {
    border-color: var(--color-brand-alt);
    color: var(--color-brand-alt);
    background-color: var(--color-brand-alt--tint);

    &:after {
        background-color: var(--color-brand-alt);
    }
}