.icon__location:after {background-image: url("../img/icon__location.svg");}
.icon__phone:after {background-image: url("../img/icon__phone.svg");}
.icon__clock:after {background-image: url("../img/icon__clock.svg");}
.icon__no:after {background-image: url("../img/icon__no.svg");}