.bg-brand {
    background-color: var(--color-brand);
    color: var(--color-lightest);
}

.bg-brand--tint {
    background-color: var(--color-brand--tint);
}

.bg-bright {
    background-color: var(--color-brand-alt);
    color: var(--color-lightest);
}

.pb-0 {
    padding-bottom: 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}